.face {
    height: 400px;
    width: 400px;
    background-color:orange ;
    border-radius: 50%;
}
.mouth {
    width:200px ;
    height:70px ;
    background-color:rgb(194, 17, 194) ;
    border-radius:0 0 70px 70px ;
    position: absolute;
    top: 270px;
    left: 110px;
}
.left-eye,
.ryt-eye {
    height:70px ;
    width: 70px;
    background-color: rgb(44, 2, 2);
    border-radius:50% ;
    display:inline-block ;
    position: absolute;
    top:100px ;
    left: 90px;
}
.ryt-eye {
    left:240px;
}

 